In [0]:
import os
# changing directory to Google Drive Folder (when using Google Colab)
os.chdir('/content/drive/My Drive/ANN/hw1')

In [0]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.base import TransformerMixin
from sklearn.model_selection import train_test_split

## Part 1 and 2

loding and preprocessing the data

In [163]:
# loading dataset
dataset_path = "dataset/adult.data"

# using ',\s' as seprator because we have '?,' in our dataset
# converting '?' to NaN
df = pd.read_csv(dataset_path, header=None, sep=',\s', na_values=["?"])

# Define dataset headers
df.columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship",
          "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "label"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """

In [164]:
df.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country  label
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [0]:
class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [0]:
df_without_nan = DataFrameImputer().fit_transform(df)

In [0]:
# one-hot encoding

categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 
                       'race', 'sex', 'native-country', 'label']

df_all_nominal = pd.get_dummies(df_without_nan, columns=categorical_columns)

In [176]:
df_all_nominal.head()

   age  fnlwgt  ...  label_<=50K  label_>50K
0   39   77516  ...            1           0
1   50   83311  ...            1           0
2   38  215646  ...            1           0
3   53  234721  ...            1           0
4   28  338409  ...            1           0

[5 rows x 107 columns]

In [0]:
# choosing x_train and y_train
x_train = df_all_nominal.loc[:,'age':'native-country_Yugoslavia'].values
y_train = df_all_nominal.loc[:, 'label_<=50K':'label_>50K'].values

In [178]:
print(f"x_train shape: {x_train.shape}")
print(f"y_train shape: {y_train.shape}")

x_train shape: (32561, 105)
y_train shape: (32561, 2)


# Part 3 - Model

In [0]:
model = tf.keras.models.Sequential([
                                    tf.keras.layers.Input(shape=x_train[0].shape),
                                    tf.keras.layers.Dense(units=128, activation='relu'),
                                    tf.keras.layers.Dropout(0.2),
                                    tf.keras.layers.Dense(units=128, activation='relu'),
                                    tf.keras.layers.Dropout(0.2),
                                    tf.keras.layers.Dense(units=20, activation='relu'),
                                    tf.keras.layers.Dense(units=2),
                                    keras.layers.Softmax(name='softmax')

])

In [250]:
model.summary()

Model: "sequential_20"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_62 (Dense)             (None, 128)               13568
_________________________________________________________________
dense_63 (Dense)             (None, 128)               16512
_________________________________________________________________
dense_64 (Dense)             (None, 2)                 258
_________________________________________________________________
softmax (Softmax)            (None, 2)                 0
=================================================================
Total params: 30,338
Trainable params: 30,338
Non-trainable params: 0
_________________________________________________________________

In [0]:
# compiling model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])#, 'precision', 'recall', 'f1_score'])

In [256]:
model.fit(x_train, y_train, epochs=20, validation_split=0.1, shuffle=True)#, callbacks=[es_callback, tb_callback])

Epoch 1/20
916/916 [==============================] - 2s 2ms/step - loss: 122.3913 - accuracy: 0.7452 - val_loss: 0.5609 - val_accuracy: 0.7531
Epoch 2/20
916/916 [==============================] - 2s 2ms/step - loss: 0.9795 - accuracy: 0.7595 - val_loss: 0.5590 - val_accuracy: 0.7531
Epoch 3/20
916/916 [==============================] - 2s 2ms/step - loss: 0.5878 - accuracy: 0.7599 - val_loss: 0.5591 - val_accuracy: 0.7531
Epoch 4/20
916/916 [==============================] - 2s 2ms/step - loss: 0.7121 - accuracy: 0.7598 - val_loss: 0.5590 - val_accuracy: 0.7531
Epoch 5/20
916/916 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7599 - val_loss: 0.5593 - val_accuracy: 0.7531
Epoch 6/20
548/916 [================>.............] - ETA: 0s - loss: 0.5591 - accuracy: 0.7571

KeyboardInterrupt: ignored

In [36]:
# checking model summary
model.summary()

ValueError: ignored